* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
  }
  
  
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* header start */
  .header {
    padding-top: 50px;
  }
  .header-nav-box {
    display: flex;
    justify-content: space-between;
  }
  .header-nav-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
  }
  .header-nav-list {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
  }
  .eader-nav-right-list {
    display: flex;
    gap: 40px;
  }
  .header-nav-right-list {
    display: flex;
    gap: 40px;
  }
  .header-nav-link {
    font-family: 'm';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #323232;
  }
  .header-nav-box1::after {
    content: '';
    display: block;
    justify-content: center;
    border-radius: 0px;
    width: 100%;
    height: 2px;
    background-color: #323232;
    margin-top: 21px;
  }
  .header-content-left {
    max-width: 526px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .header-content-item-1,
  .header-content-item-2 {
    border-radius: 10px;
    background: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 43px;
    width: 526px;
    height: 294px;
    box-shadow: 6px 6px 15px 0 rgba(132, 132, 132, 0.3);
  }
  .header-content-1-right-text {
    font-family: 'm';
    font-weight: 400;
    font-size: 16px;
    color: #323232;
  }
  .header-content-1-right-title {
    font-family: 'm';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
  }
  .header-content-1-right-cost {
    font-family: 'm';
    font-weight: 400;
    font-size: 16px;
    line-height: 117%;
    text-transform: uppercase;
    color: #323232;
  }
  .header-content-item-1 {
    position: relative;
  }
  .header-content-left {
    position: relative;
  }


  .header-content-sale {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .header-content-sale-2 {
    position: absolute;
    top: 335px;
    left: 10px;
  }
  .header-content-item-3 {
    border-radius: 10px;
    width: 746px;
    height: 618px;
    background: #e1e1e1;
    box-shadow: 6px 6px 15px 0 rgba(132, 132, 132, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-content-item-3-img {
    width: 306px;
    height: 242px;
  }
  .header-content-item-3 {
    display: flex;
    gap: 24px;
  }
  .header-content-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .header-content-item-3-sale {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .header-content-right {
    position: relative;
  }

  /* header end */

  /* main start */
  .main-h2 {
    font-family: 'm';
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .main-box::before {
    content: '';
    display: block;
    justify-content: center;
    border-radius: 0px;
    max-width: 1320px;
    width: 100%;
    height: 2px;
    background-color: #323232;
    margin-top: 21px;
  }
  .main-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main--box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    gap: 24px;
    margin-top: 40px;
  }
  .item {
    border-radius: 10px;
    height: 485px;
    background: #e1e1e1;
    box-shadow: 6px 6px 15px 0 rgba(132, 132, 132, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
  }
  .img-main-item-sale {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .main-item-like {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .main-item-cart {
    position: absolute;
    top: 90px;
    right: 20px;
    cursor: pointer;
  }
  .main-item-title {
    font-family: 'm';
    font-weight: 400;
    font-size: 20px;
    color: #323232;
  }
  .aa {
    display: flex;
    flex-direction: column;
  }
  .aa::after {
    content: '';
    display: block;
    justify-content: center;
    border-radius: 0px;
    max-width: 1320px;
    width: 100%;
    height: 2px;
    background-color: #323232;
    margin-top: 21px;
  }
  .time-left {
    border-radius: 10px;
    max-width: 636px;
    width: 100%;
    height: 470px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: url(../images/section1.png);
  }
  .time-h2 {
    font-family: 'm';
    font-weight: 700;
    font-size: 22px;
    font-variant: all-small-caps;
    color: #fff;
    max-width: 446px;
    height: 54px;
  }
  .time-text {
    font-family: 'm';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    font-variant: all-small-caps;
    color: #e1e1e1;
    max-width: 462px;
    height: 96px;
  }
  .time-left {
    position: relative;
  }
  .time-img-top {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .time-img-bottom {
    position: absolute;
    bottom: 60px;
    left: 60px;
  }
  .time-img-bottom2 {
    position: absolute;
    bottom: 60px;
    left: 90px;
  }
  .time-right {
    position: relative;
    border-radius: 10px;
    max-width: 636px;
    width: 100%;
    height: 470px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: url(../images/section2.png);
  }
  .time-h2-2 {
    font-family: 'm';
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    max-width: 446px;
    width: 100%;
    height: 63px;
  }
  .time-text-2 {
    font-family: 'm';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    font-variant: all-small-caps;
    color: #e1e1e1;
    max-width: 446px;
    width: 100%;
    height: 88px;
  }
  .time-img-top-2 {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .time-img-bottom-2 {
    position: absolute;
    bottom: 60px;
    left: 60px;
  }
  .time-img-bottom2-2 {
    position: absolute;
    bottom: 60px;
    left: 90px;
  }
  .time-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-left-1-link {
    font-family: 'm';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
  }
  .footer-left-2-link {
    font-family: 'm';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
  }
  .footer {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    background: #323232;
    margin-top: 60px;
    padding-bottom: 75px;
  }
  .footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-left-1 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .footer-left-1-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .footer-h2 {
    font-family: 'm';
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  }
  .footer-left-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
    margin-left: 150px;
  }
  .footer-left-2-link {
    font-family: 'm';
    font-weight: 300;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
  }
  .footer-left-2-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .footer-left {
    padding-top: 100px;
  }
  .xx {
    font-family: 'm';
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
  }
  .zz {
    font-family: 'm';
    font-weight: 400;
    font-size: 18px;
    font-variant: all-small-caps;
    color: #fff;
  }
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-right-title {
    margin-bottom: 40px;
  }
  .footer-right-adres {
    margin-bottom: 15px;
  }
  .footer-right-mail {
    margin-top: 15px;
    margin-bottom: 60px;
  }
  .footer-right-text {
    padding-bottom: 40px;
  }
  .cc {
    padding-left: 25px;
    padding-right: 25px;
  }
  .footer-right {
    padding-top: 102px;
    width: 50%;
  }



  /* main and */

  @media(max-width:1320px) {
    .header-content-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .header-content-right {
      margin-top: 24px;
    }
    .header-content-item-3 {
      width: 526px;
height: 294px;
    }
    .header-content-item-3-img {
      width: 146px;
height: 174px;
    }
  }
  @media(max-width:1305px) {
    .time-box {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 30px;
    }
  }
  @media(max-width:1100px) {
    .header-nav-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 20px;
    } 
  }
  @media(max-width:1100px) {
    .footer-box {
      display: flex;
      flex-direction: column;
    }
  }
  @media(max-width:810px) {
    .header-nav-left {
        align-items: center;
        justify-content: center;
    }
    .header-nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  @media(max-width:810px) {
    .header-content-item-1 {
      width: 400px;
    }
    .header-content-item-2 {
      width: 400px;
    }
    .header-content-item-3 {
      width: 400px;
    }
  }
  @media(max-width:500px) {
    .header-content-item-1 {
      width: 300px;
    }
    .header-content-item-2 {
      width: 300px;
    }
    .header-content-item-3 {
      width: 300px;
    }
    .aa {
      font-size: 20px;
    }
    .main-h2 {
      font-size: 20px;
    }
    
  }
  @media(max-width:400px) {
    .footer-left {
      display: flex;
      flex-direction: column;
    }
    .footer-left-2 {
      margin: 0;
      padding-top: 20px;
    }
    .footer-left-1-list {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }